:root {
  --clr-background: #ffa07a;
  --clr-primary: #fff;
  --clr-secondary: #eee;

  --clr-neutral: #444;

  /* --ff-primary: 'Roboto', sans-serif;
  --ff-accent: 'Playfair Display', serif; */
}

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

h2,
h3,
h4,
h5,
p {
    margin-bottom: 1em;
}

h4 {
  font-size: 1.5em;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: var(--clr-background);
}

.app-logo {
  height: 20vmin;
  filter: invert(100%);
  pointer-events: none;
}

.app-title {
  margin: 0;
}

.wrapper {
  transform: none;
}

@media (prefers-reduced-motion: no-preference) {
  .wrapper.is-loading {
    animation: app-logo-spin infinite 5s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app-header {
  min-height: 30vh;
  max-height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.react-autosuggest__container {
  position: relative;
  margin-bottom: 1em;
}

.react-autosuggest__input {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  width: 100%;
  font-weight: 300;
  font-size: 1em;
  color: var(--clr-neutral);
  background-color: var(--clr-secondary);
  box-shadow: var(--clr-primary);
  border: 0;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 2.35em;
  width: 100%;
  background-color: var(--clr-secondary);
  font-weight: 300;
  font-size: 16px;
  border:0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.card {
	background: var(--clr-secondary);
  border-radius: 10px;
	margin-bottom: 1em;	
  margin-left: auto;
  margin-right: auto;
}

.card-body > * {
  margin: 1em 0;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  transition: max-height 0.2s ease-out;
}

.card {
  flex: 1 0 25em;
  box-sizing: border-box;
}

@media screen and (min-width: 40em) {  
  .card {
     max-width: calc(50% -  1em);
  }
}

@media screen and (min-width: 60em) {
  .card:first-child:nth-last-child(5),
  .card:first-child:nth-last-child(5) ~ .card {
      max-width: calc(20% - 1em);
  }

  .card:first-child:nth-last-child(6),
  .card:first-child:nth-last-child(6) ~ .card {
      max-width: calc(17% - 1em);
  }
}

.container {
  margin: 0 auto;
  padding: 0 1em;
}

@media screen and (min-width: 52em) {
  .container {
      max-width: 60em;
  }
}

.card img {
  display: block;
  scale: 0.8;
  margin-left: auto;
  margin-right: auto;
}
